.container {
  overflow: hidden; /* Assure que la hauteur de la container s'ajuste aux divs flottantes */
}

.div1,
.div2 {
  width: 48%; /* Largeur de chaque div (ajustez selon vos besoins) */
  margin-right: 2%; /* Marge entre les divs (ajustez selon vos besoins) */
  float: left;
}

.mt-3{
  margin-top: 20px;
}

.mb-3{
  margin-bottom: 20px;
}

.container_search_input {
  margin: 10px 30% 10px 30%;
}

.input_search {
  border: 2px solid #3c1ae5;
  border-radius: 80px;
}
.logo {
  width: 60px;
  height: 50px;
}
/* Carroussel */

.container_carrou_home {
  margin: 0px 20% 0px 20%;
  height: 80%;
}

:root {
  --rotate-speed: 20;
  --count: 8; /* Default count, the DOM element should override this */
  --easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
  --easing: cubic-bezier(0, 0.37, 1, 0.63);
}

.void {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  position: relative;
  aspect-ratio: 1 / 1;
}
.ul_carrou_rotate:hover * {
  animation-play-state: paused;
}
.ul_carrou_rotate {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: 2px dotted magenta;
  z-index: 1;
}
.li_carrou_rotate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* 	outline: 2px dashed cyan; */
  width: 100%;
  animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
.card_rotate {
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #535062;
  animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
a {
  text-decoration: none;
  color: unset;
}
.model-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #3b2ed0;
  display: block;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

li:nth-child(2),
li:nth-child(2) .card_rotate {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -1s);
}
li:nth-child(3),
li:nth-child(3) .card_rotate {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -2s);
}
li:nth-child(4),
li:nth-child(4) .card_rotate {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -3s);
}
li:nth-child(5),
li:nth-child(5) .card_rotate {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -4s);
}
li:nth-child(6),
li:nth-child(6) .card_rotate {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -5s);
}
li:nth-child(7),
li:nth-child(7) .card_rotate {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -6s);
}
li:nth-child(8),
li:nth-child(8) .card_rotate {
  animation-delay: calc((var(--rotate-speed) / var(--count)) * -7s);
}

@keyframes rotateCW {
  from {
    transform: translate3d(0px, -50%, -1px) rotate(-45deg);
  }
  to {
    transform: translate3d(0px, -50%, 0px) rotate(-315deg);
  }
}
@keyframes rotateCCW {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(315deg);
  }
}
@keyframes pulseGlow {
  from {
    background-size: 60%;
  }
  to {
    background-size: 100%;
  }
}

.center-circle {
  position: absolute;
  width: 230px;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
    0px 30px 60px -12px rgba(12, 5, 46, 0.25);
  border-radius: 50%;
}
.second-circle {
  position: absolute;
  width: 40%;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f5f4fe;
  opacity: 0.5;
  box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
    0px 30px 60px -12px rgba(12, 5, 46, 0.25);
  border-radius: 50%;
}
.last-circle {
  position: absolute;
  width: 66%;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f5f4fe;
  opacity: 0.25;
  box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
    0px 30px 60px -12px rgba(12, 5, 46, 0.25);
  border-radius: 50%;
}
.crop {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1)
  );
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  animation: pulseGlow 5s linear infinite alternate;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    100% 50% at 100% 50%,
    rgba(60, 26, 229, 0.25) 0%,
    rgba(60, 26, 229, 0.247904) 11.79%,
    rgba(59, 26, 229, 0.241896) 21.38%,
    rgba(58, 26, 229, 0.2324) 29.12%,
    rgba(57, 26, 229, 0.219837) 35.34%,
    rgba(55, 26, 229, 0.20463) 40.37%,
    rgba(53, 26, 229, 0.1872) 44.56%,
    rgba(51, 26, 229, 0.16797) 48.24%,
    rgba(48, 26, 229, 0.147363) 51.76%,
    rgba(46, 26, 229, 0.1258) 55.44%,
    rgba(44, 26, 229, 0.103704) 59.63%,
    rgba(41, 26, 229, 0.0814963) 64.66%,
    rgba(39, 26, 229, 0.0596) 70.88%,
    rgba(36, 26, 229, 0.038437) 78.62%,
    rgba(34, 26, 229, 0.0184296) 88.21%,
    rgba(32, 26, 229, 0) 100%
  );
}
.mask:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  display: block;
  background-image: linear-gradient(
    180deg,
    rgba(60, 26, 229, 0) 0%,
    #3c1ae5 50%,
    rgba(60, 26, 229, 0) 100%
  );
}
/* ************************************** */

.separateur {
  width: 100%;
  height: 85px;
  background-color: #dddddd;
}

/* Card emploi */

.container_carrou_slide {
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/************************ 
Generic layout (demo looks)
**************************/

.container_carrou_slide {
  margin: 0;
  padding: 48px 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  min-height: 100vh;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}



.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ************************************ */

